<div class="footer">
  <div class="info">

    <div>
      <label>POLÍTICAS</label>
      <p>Políticas de privacidad</p>
      <p>Políticas de cambio</p>
      <p>Políticas de envío</p>
      <p>Términos y condiciones</p>
      <p>Responsabilidad social</p>
    </div>

    <div>
      <label>SOBRE NOSOTROS</label>
      <p>Encuentra tu tienda</p>
      <p>Contáctanos</p>
      <p>Trabaja con nosotros</p>
    </div>

    <div>
      <label>SÍGUENOS EN:</label>
      <div>
        <img [src]="facebookIcon" alt="">
        <img [src]="twitterIcon" alt="">
        <img [src]="instagramIcon" alt="">
        <img [src]="youtubeIcon" alt="">
      </div>
    </div>
    
  </div>

  <div class="copyright">
    <label>© Copyright Colombia. Todos los derechos reservados</label>
  </div>
</div>
